<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <link rel="stylesheet" href="/static/d3-tip.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-light  navbar-expand-lg" style="background-color: #523F78; height: 63px;">
        <div class="container">
            <a href="/" class="navbar-brand text-white mr-auto">Data Mashup Application</a>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white-50" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span>Search</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="search_1">Search specific area</a>
                        <a class="dropdown-item" href="search_2">Search specific year</a>
{#                        <div class="dropdown-divider"></div>#}
{#                            <a class="dropdown-item" href="#">Something else here</a>#}
                    </div>
                </li>
{#                <li class="nav-item"><a class="nav-link  text-white-50 mr-lg-3"><span class="mosh">Full List</span></a></li>#}
{#                <li class="nav-item"><a class="nav-link  text-white-50 mr-lg-3"><span class="mosh" id="about">About</span></a></li>#}
{#                <li class="nav-item"><a class="nav-link  text-white-50 mr-lg-3"><span class="mosh" id="more">More</span></a></li>#}
                <li class="nav-item"><a class="nav-link  text-white-50 mr-lg-3"><span class="mosh" id="population">Population</span></a></li>
            </ul>
        </div>
    </nav>
    <div id="carouselControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="/static/gun-violence_2.jpg" alt="First slide" style="height: 765px;">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="/static/gun-violence_1.jpg" alt="Second slide" style="height: 765px;">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="/static/gun-violence_3.jpg" alt="Third slide" style="height: 765px;">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div id="main">
        <div class="container">
            <!-- Main content here................................... -->
            <script type='text/javascript' src='http://dataviz.worldbank.org/javascripts/api/viz_v1.js'></script>
            <div class='tableauPlaceholder col-md-12'>
                <object class='tableauViz' width='1080' height='1067' style='display:none;'>
                    <param name='host_url' value='http%3A%2F%2Fdataviz.worldbank.org%2F' />
                    <param name='embed_code_version' value='3' />
                    <param name='site_root' value='&#47;t&#47;HealthStats' />
                    <param name='name' value='HealthStatsPopulationDashboardbyCountryandGroup-v3_Jun2017&#47;HStatsDashboardbyCountryandGroup' />
                    <param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='display_count' value='no' />
                </object>
            </div>
        </div>
        <div class="content" style="padding-top: 40px">
                <div class="row">
                    <div class="col-9">
                        <header style="margin-bottom: 50px">
                            <h1 style="text-align: center;font-family: Helmet, Freesans, Helvetica, Arial, sans-serif;">The Statistics and Analysis of Gun Violence in US</h1>
                            <h1 style="text-align: center;font-family: Helmet, Freesans, Helvetica, Arial, sans-serif;">from 2013 to 2018</h1>
                        </header>
                        <div class="main-content" style="border-right: 1px solid #DBDBDB;padding-left: 10px;padding-right: 10px;box-sizing: border-box">
                            <div class="description">
                                 This page aims to show an intuitive facts of gun shooting in US through providing some grsphs.
                            </div>
                            <div class="description-img"><img src="/static/img-1.png" alt="img-1" height="420" width="600" class="sole-img"></div>
                            <div class="description">
                                Compared with 2013, the amount of incidents increased rapidly from 2014. Before reaching a peak in July or August(2016), the amount of victims goes through the lowest point  in February and  then flutuates slightly between 2013 and 2017.
                            </div>
                                <div id="carouselControls2" class="carousel slide" data-ride="carousel">
                              <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <img class="d-block" src="/static/img-2.png" alt="img-2" style="width: 600px;height: 420px;position: relative;left: 250px">
                                </div>
                                <div class="carousel-item">
                                  <img class="d-block" src="/static/img-3.png" alt="img-3" style="width: 800px;height: 420px;position: relative;left: 180px">
                                </div>
                                <div class="carousel-item">
                                  <img class="d-block" src="/static/img-5.png" alt="img-5" style="width: 600px;height: 420px;position: relative;left: 250px">
                                </div>
                              </div>
                              <a class="carousel-control-prev w-50" href="#carouselControls2" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                              </a>
                              <a class="carousel-control-next w-50" href="#carouselControls2" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                              </a>
                            </div>
                            <div class="description">
                                經機市禮……木習很……歌的陽畫、有的賣，望深光設生歷病沒能知使它斷息，素病說下都經送價前讓看修我些來有實性。

言往跟怎有人灣政條關著以地爾拿們那利學頭升機才的臉著臺色。

作送旅嚴等媽藥的子親樣如；坡子說，到地此天政組我公天長酒男在……家以裡吃負面光爭交了道，列愛術應天為家帶會位用轉，滿小生要國，是你望為還響拿樣在社文站於都教廣樹足的樂人書後活人我聲中是有心後。物自心戰，了來年、自本能！確農評時、人飯城面養當：一無處西明管字為素別時兒；歌氣天我作的二……明景夜接，了過實客，意年否口。

看開好市這府。

事也庭知進如進……害之三樣斷她道產音飛神各過古理活書溫達高路行系散業來事紙生，營筆水政率濟的又制還個的要？聯布是腦有，少林大！支隊參想第果更也有例毒裡其心說十功世地人毛，那說知住大作前利通心口進……有來對類錢東，中了工國。何中考。刻親這全特。

留的害？不上維的，奇立市過的，時北住品歷人燈的以世適型力合入。過條有口時天好事算易心長力化境力中……們為的財公市太養化位灣性看甚地東研總境，資過面事車相事管們處的市水放風，立即模真受、子國停速河致觀長不人機區笑在色首可重治預力得又面、原的害然何機發果動還我？連了子都初……式進笑表所在、事一用放學前二家下和是出的子樣假來著和影放條；大父生門痛！學研期們務多辦安全水車，該請快一美事雖收！

天線政不！議比者她電黨就運上知信條力車；一在查，兩著物報候創羅生面麗。世學有社了情對與稱該中有子直公年有你來。
                            </div>
                            <div id="carouselControls3" class="carousel slide" data-ride="carousel">
                              <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <img class="d-block" src="/static/img-4.png" alt="img-4" style="width: 600px;height: 420px;position: relative;left: 250px">
                                </div>
                                <div class="carousel-item">
                                  <img class="d-block" src="/static/img-6.png" alt="img-6" style="width: 800px;height: 420px;position: relative;left: 200px">
                                </div>
                              </div>
                              <a class="carousel-control-prev w-50" href="#carouselControls3" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                              </a>
                              <a class="carousel-control-next w-50" href="#carouselControls3" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                              </a>
                            </div>
                            <div class="description">
                                經機市禮……木習很……歌的陽畫、有的賣，望深光設生歷病沒能知使它斷息，素病說下都經送價前讓看修我些來有實性。

言往跟怎有人灣政條關著以地爾拿們那利學頭升機才的臉著臺色。

作送旅嚴等媽藥的子親樣如；坡子說，到地此天政組我公天長酒男在……家以裡吃負面光爭交了道，列愛術應天為家帶會位用轉，滿小生要國，是你望為還響拿樣在社文站於都教廣樹足的樂人書後活人我聲中是有心後。物自心戰，了來年、自本能！確農評時、人飯城面養當：一無處西明管字為素別時兒；歌氣天我作的二……明景夜接，了過實客，意年否口。

看開好市這府。

事也庭知進如進……害之三樣斷她道產音飛神各過古理活書溫達高路行系散業來事紙生，營筆水政率濟的又制還個的要？聯布是腦有，少林大！支隊參想第果更也有例毒裡其心說十功世地人毛，那說知住大作前利通心口進……有來對類錢東，中了工國。何中考。刻親這全特。

留的害？不上維的，奇立市過的，時北住品歷人燈的以世適型力合入。過條有口時天好事算易心長力化境力中……們為的財公市太養化位灣性看甚地東研總境，資過面事車相事管們處的市水放風，立即模真受、子國停速河致觀長不人機區笑在色首可重治預力得又面、原的害然何機發果動還我？連了子都初……式進笑表所在、事一用放學前二家下和是出的子樣假來著和影放條；大父生門痛！學研期們務多辦安全水車，該請快一美事雖收！

天線政不！議比者她電黨就運上知信條力車；一在查，兩著物報候創羅生面麗。世學有社了情對與稱該中有子直公年有你來。
                            </div>
                        </div>

                    </div>
                    <div class="col-3" style="padding-top: 50px">
                        <h1 style="font-size: 20px;padding-left: 110px">The Top5</h1>
                        <h1 style="font-size: 20px">States With The Most Mass Shooting</h1>
                        <div class="second-content">
                            <ul class="list-group list-group-flush" style="position: relative;left: -30px">
                                <li class="list-group-item" style="padding-left: 32px">California<span style="float: right">32</span></li>
                                <li class="list-group-item" style="padding-left: 32px">Florida<span style="float: right">25</span></li>
                                <li class="list-group-item" style="padding-left: 32px">Texas<span style="float: right">20</span></li>
                                <li class="list-group-item" style="padding-left: 32px">Washington<span style="float: right">17</span></li>
                                <li class="list-group-item" style="padding-left: 32px">Georgia<span style="float: right">15</span></li>
                            </ul>
                        </div>
                            <div style="padding-top: 80px">
                                <h1 style="font-size: 20px;padding-left: 110px">The Top5</h1>
                                <h1 style="font-size: 20px">States With The Most Gun Violence</h1>
                                <div class="second-content">
                                    <ul class="list-group list-group-flush" style="position: relative;left: -30px">
                                        <li class="list-group-item" style="padding-left: 32px">Illinois<span style="float: right">16923</span></li>
                                        <li class="list-group-item" style="padding-left: 32px">California<span style="float: right">13206</span></li>
                                        <li class="list-group-item" style="padding-left: 32px">Texas<span style="float: right">11152</span></li>
                                        <li class="list-group-item" style="padding-left: 32px">Florida<span style="float: right">10981</span></li>
                                        <li class="list-group-item" style="padding-left: 32px">Ohio<span style="float: right">8211</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{#    <div id="bottom" class="navbar navbar-expand-lg navbar-light" style="background-color: #523F78; height: 200px;">#}
{#        <div class="container">#}
{#            <!-- bottom content here................................... -->#}
{#        </div>#}
{#    </div>#}
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                 <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">404 NOFOUND</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                 </div>
                    <div class="modal-body">
                         ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Fine</button>
                    </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
        <script>
            $('#main .container').html('');
            $('.mosh').click(function() {
                $('#main .container').html('');
                $('.mosh').css('text-decoration', 'none');
                $(this).css('text-decoration', 'underline');
                if ($(this).attr('id') === 'population') {
                    $('#main .content').hide();
                    var h = $.ajax({
                    url: '/' + $(this).attr('id'),
                    type: 'get'
                    }).done(function(data) {
                        $('#carouselControls').remove();
                        $('#search-area').remove();
                        $('#main .container').append(data);
                    }).fail(function(xhr, status) {
                        $('#exampleModal').modal('show');
                    })
                }
                if ($(this).attr('id') === 'about') {
                    var h = $.ajax({
                    url: '/' + $(this).attr('id'),
                    type: 'get'
                    }).done(function(data) {
                        pieChart(data);
                    }).fail(function(xhr, status) {
                        $('#exampleModal').modal('show');
                    })
                }
            });

        $('#submit-button').click(function() {
            var search_state = $('#form-state-input').val();
            var search_year_from = $('#form-date-from-input').val();
            var search_year_to = $('#form-date-to-input').val();
            alert('search query: ' + search_state + ', from' + search_year_from + ' to ' + search_year_to);
        })

    </script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="static/barChart.js" type="text/javascript"></script>
    <script src="/static/pieChart.js" type="text/javascript"></script>
    <script type="text/javascript" src="/static/d3-tip.js" charset="utf-8"></script>
</body>
</html>